#Titulo{ /*El id titulo en alguna etiqueta*/
    color: rebeccapurple;
}

p.texto{ /*Se le da el formato a un parrafo con la clase texto*/
    color: tomato;
}

p.especial{ /*Se le da el formato a un parrafo con la clase especial*/
    color: blueviolet;
}

div p{ /*Se le da el formato a un div que contenga p*/
    color: aquamarine;
}

article.texto{
    color: blue;
}
article.texto1{
    color: pink;
}

.text{
    font-family: "Poppins" , 'Courier New', Courier, monospace;

}

div h2, div h3{ /*Se le da el formato a un div que contenga h2 y h3*/
    color: brown;
}

*{ /*Se le da el formato a todo el tamano de texto*/
    font-size: 24px;
}

.color{
    color: deeppink;
    border: 3px;
    border-color: blue;
    border-style: solid;
    border-radius: 4px;
    border-width: 4px;
}

#fondo{
    background-color: red;
    opacity: 0.8;
    background-image: url("/Img/ROCK.jpg");
    background-size:cover;
}

#margin{ /*Propiedades que se le asignan a un ID margin*/
    background-color: brown;
    margin: 15px;
    overflow: scroll;
    width: 200px;
    height: 50px;
    outline: 1px solid red;
}

.texto{ /*propiedades que se le asignan a una clase texto*/
    text-align: justify;
    text-decoration: overline;
    text-shadow: 3px 5px 5px blue;
    color: blueviolet;
    font-family: 'Poppins' Verdana, Geneva, Tahoma, sans-serif;
}

a:link{ /*el orden para formato a links es este*/
    color: chocolate;
    outline: 1px solid darkorange;
}

a:visited{ /*Si ya ha sido visitado se activa el estilo*/
    color: burlywood;
}

a:hover{ /*Se activa el estilo al pasar el mouse*/ 
    color: darkmagenta;
}

a:active{ /*Se activa el estilo al dar click*/
    color: chartreuse;
}


